{{>layout/header}}

<div class="container p-5">

    <div class="d-flex justify-content-end mb-2">
        <form action="/" method="get" class="d-flex col-md-3">
            <input class="form-control me-2" type="text" placeholder="Search" name="title">
            <button class="btn btn-primary">Search</button>
        </form>
    </div>

    {{#model.contents}}

        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title mb-3">{{title}}</h4>
                <a href="/board/{{id}}" class="btn btn-primary">상세보기</a>
            </div>
        </div>

    {{/model.contents}}

    <h1>{{model.number}}</h1>
    <ul class="pagination d-flex justify-content-center">
        {{^model.first}}
            <li class="page-item"><a class="page-link" href="?page={{model.prev}}">Previous</a></li>
        {{/model.first}}
        {{^model.last}}
            <li class="page-item"><a class="page-link" href="?page={{model.next}}">Next</a></li>
        {{/model.last}}
    </ul>

    <button onclick="download()">다운로드</button>


</div>
<script>
    async function download() {
        let response = await fetch("/?title=제목1");
        let responseBody = await response.text();
        console.log(responseBody);

        $("body").html(responseBody);
    }

</script>
{{>layout/footer}}