{{>layout/header}}

<div class="container p-5">

    <div class="d-flex justify-content-end mb-2">
        <form>
            <input class="form-control me-2" type="text" placeholder="Search" id="title">
        </form>
    </div>
    <div id="board-box">
        {{#models}}

            <div class="card mb-3">
                <div class="card-body">
                    <h4 class="card-title mb-3">{{title}}</h4>
                    <a href="/board/{{id}}" class="btn btn-primary">상세보기</a>
                </div>
            </div>

        {{/models}}
    </div>

</div>

<script>
    function boardItem(board) {
        return ` <div class="card mb-3">
                <div class="card-body">
                    <h4 class="card-title mb-3">${board.title}</h4>
                    <a href="/board/${board.id}" class="btn btn-primary">상세보기</a>
                </div>
            </div>`;
    }

    async function getBoardList(title) {
        let response = await fetch(`/board?title=${title}`);
        let responseBody = await response.json();

        if (response.ok) {
            let boardList = responseBody.body;
            $("#board-box").empty();

            for (board of boardList) {
                $("#board-box").append(boardItem(board));
            }
        } else {
            alert(responseBody.msg);

        }
    }

    $("#title").on("keyup", function (e) {
        let title = e.target.value;
        console.log(title);
        getBoardList(title);
    });
</script>

{{>layout/footer}}